.footerr {
    
    position: fixed;
    
    position: bottom;
    
    font-size: 23px;
    background-color: darkcyan;
    width: 80%;
  
    padding-left: 15px;;
    color: rgb(255, 255, 255);
    
}