.footerr {
    position: absolute;
    bottom: 1px;
    font-style: italic;
    font-size: 23px;
    background-color: rgb(71, 75, 73);
    width: 50%;
    padding-left: 15px;;
    color: rgb(255, 255, 255);
}