@charset "utf-8";
/* CSS Document */
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

button { 
	text-align: center;
}

#h1sty{
  text-align: center;
}

#droneos {
  text-align: center;
  font-size: x-large;
}

.foterr{
  background-color: darkcyan;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
 
}
.grid-item {
  border: 2px solid black;
 
  padding: 20px;
  font-size: 25px;
  text-align: center;
}
