@charset "utf-8";
/* CSS Document */
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

button {
	float: fixed;
	padding-left: 50px;
}

