/* CSS Document */

 ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: darkcyan;
color: white;


position: fixed;
position: left;

width: 7.3%;
height: 70%;
top: 0;
}



li {
float: fixed;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px; 
text-decoration: none;
}

li a:hover {
background-color: #111;
}

li a:hover:not(.active) {
	background-color: darkgreen;
}

.active {
  background-color: darkcyan;
}
