
.Teksta{
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
   
    
}  
h2{
    text-align: center;   
    font-size: 22px;
    font-family: 'Verdana';
   
}
