
.Teksta{
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 60px;
    float: left;
}
h2{
    text-align: left;   
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
   
}
